<section class="container">
  <div class="row">
    <img src="../../../assets/images/logo.png" alt="" class="col-7 c-home__image m-auto">
    <img src="../../../assets/images/message.gif" alt="" class="col-12 c-home__message">
  </div>
  <div class="bg-light rounded p-3 my-3">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quas totam veritatis? Corporis deleniti dolores eveniet exercitationem facilis obcaecati pariatur quam unde veritatis! Distinctio earum impedit quo! Autem ipsa, recusandae.
    </p>
  </div>
  <button class="btn-primary mt-2" routerLink="/register">Inscrivez-vous !</button>
</section>
