.c-app__logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.bg-img-account {
  background-image: url("../assets/images/thomas.png");
  background-size: cover;
}
