.c-app__logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.deconnected {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
