<header>
    <section class="d-flex">
        <div>
            <img src="../assets/images/logo.png" alt="logo" width="150">
        </div>
        <nav class="container-fluid bg-light rounded mx-5 my-4">
            <ul class="m-auto h-100 p-0">
                <app-menu class="d-flex list-unstyled justify-content-around m-auto h-100 align-items-center"></app-menu>
            </ul>
        </nav>
        <div>
            <img src="../assets/images/thomas.png" alt="user icon" width="150">
        </div>
    </section>
</header>
<router-outlet></router-outlet>
