<section class="container" *ngIf="user.type == 'teacher' || user.type == 'admin'">
  <h2 class="text-center">Créer un article</h2>
  <form action="" class="d-flex flex-column" [formGroup]="newArticleForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Titre de l'article" class="border mb-4 mt-5 py-3 px-2" formControlName="title">
    <textarea name="article" id="" cols="20" rows="20" placeholder="Contenu de l'article" class="border p-2 mb-4" formControlName="content"></textarea>
    <div>
    </div>
    <div class="d-inline-flex mb-5">
      <button mat-stroked-button color="primary" class="mr-3">Importer un fichier</button>
      <p class="my-auto">0 fichier(s) importé(s)</p>
    </div>
    <div class="d-flex justify-content-around">
      <button mat-raised-button color="primary" type="submit">Valider</button>
      <button mat-raised-button color="warn">Annuler</button>
    </div>
  </form>
</section>
