<section class="container" xmlns="http://www.w3.org/1999/html">
  <div class="col-12" *ngIf="user && (user.type == 'user' || user.type == 'teacher' || user.type == 'admin')">
    <h3 class="mb-4">Veuillez choisir un thème</h3>
    <div class="d-inline-flex bg-light rounded mb-4 w-100" *ngFor="let theme of themes">
      <div class="d-flex flex-column align-items-center border-right w-75 p-2">
        <h5 class="m-auto">{{theme.title}}</h5>
      </div>
      <div class="d-flex flex-column align-items-center border-left w-25 p-2 m-auto" *ngIf="user && user.type == 'admin'">
        <button mat-raised-button color="warn" (click)="remove(theme._id)">
          Supprimer le theme
        </button>
      </div>
      <div class="d-flex flex-column align-items-center border-left w-25 p-2 m-auto">
        <button mat-raised-button color="primary" routerLink="/theme/{{theme._id}}" (click)="view(theme._id)">
          Voir les cours
        </button>
      </div>

    </div>
  </div>
  <div *ngIf="user && (user.type == 'admin' || user.type == 'Teacher')">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Ajouter un thème</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <form action="" class="d-flex flex-column" [formGroup]="newThemeForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Titre du theme" class="border mb-4 mt-5 py-3 px-2" formControlName="title">
            <div class="d-flex justify-content-around">
              <button mat-raised-button color="primary" type="submit">Valider</button>
              <button mat-raised-button color="warn" type="reset">Annuler</button>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
