<section class="container">
  <h1 class="text-center mb-5">{{game.title}}</h1>
  <app-game></app-game>
  <mat-card class="col-6 bg-light ml-auto mr-0 my-4">
    <mat-card-content class="d-flex flex-column">
      <div class="d-flex justify-content-around">
        <button mat-stroked-button color="primary">Check</button>
        <button mat-stroked-button color="primary">Call</button>
        <button mat-stroked-button color="primary">1/2 pot</button>
        <button mat-stroked-button color="primary">3/4 pot</button>
      </div>
      {{user.email}}
      <div class="d-flex justify-content-around mt-3">
        <mat-form-field class="col-2">
          <input matInput type="number" placeholder="Mise" [(ngModel)]="value">
        </mat-form-field>
        <mat-slider class="col-8"
                    [min]="min"
                    [max]="max"
                    [(ngModel)]="value"
                    thumbLabel></mat-slider>
        <p class="col-2 my-auto">{{max}}</p>
      </div>
      <button mat-raised-button color="primary" class="w-25 mx-auto">Miser</button>
    </mat-card-content>
  </mat-card>
  <div>
    <p>{{game._id}}</p>
    <p>{{game.buyIn}}</p>
    <p>{{game.maxPlayer}}</p>
    <p>{{game.mode}}</p>
    <p>{{game.pot}}</p>
    <div>
      <p>Players :</p>
      <p *ngFor="let player of game.players">{{player.email}}</p>
    </div>
  </div>
  <button mat-raised-button color="warn" routerLink="../home" (click)="leave(game._id)">Quitter la partie</button>
</section>
