<section class="container-fluid">
  <form action="" class="d-flex justify-content-around bg-light rounded col-lg-6 m-auto px-5 py-2">
    <div class="d-flex">
      <label class="my-auto mr-2" for="gameMode">Mode de jeux :</label>
      <select name="gameMode" id="gameMode">
        <option value="">Tout</option>
        <option value="">Tournois</option>
        <option value="">Cash Game</option>
      </select>
    </div>
    <div class="d-flex">
      <label class="my-auto mr-2" for="gameCave">Cave :</label>
      <select name="gameCave" id="gameCave">
        <option value="">Tout</option>
        <option value="">0-4</option>
        <option value="">4-7</option>
        <option value="">7-10</option>
      </select>
    </div>
  </form>
</section>
<div class="text-center my-3">
  <button mat-raised-button color="accent" routerLink="/games/nouveau/">Créer une partie</button>
</div>
<section class="container-fluid mt-5">
  <div class="d-flex justify-content-around bg-light rounded col-10 mx-auto my-2 py-2" *ngFor="let game of games">
    <h5 class="m-auto">{{game.title}}</h5>
    <i class="m-auto">{{game.updatedAt | date: "dd/MM, à HH'h'mm" }}</i>
    <p class="m-auto">{{game.mode}}</p>
    <p class="m-auto">{{game.players.length}}/{{game.maxPlayer}} Joueurs</p>
    <p class="m-auto">BuyIn : {{game.buyIn}} jetons</p>
    <a href="/games/{{game._id}}"><button mat-raised-button color="primary" class="m-auto" (click)="join(game._id)">Rejoindre</button></a>
  </div>
</section>
