<header class="mb-5">
    <section class="d-flex">
        <div>
            <img src="../assets/images/logo.png" alt="logo" width="150" routerLink="/">
        </div>
        <nav class="container-fluid bg-light rounded mx-5 my-4">
            <ul class="m-auto h-100 p-0">
                <app-menu class="d-flex list-unstyled justify-content-around m-auto h-100 align-items-center"></app-menu>
            </ul>
        </nav>
        <div>
            <img src="../assets/images/thomas.png" alt="user icon" width="150" routerLink="login" *ngIf="!token()">
            <div class="d-flex align-items-center flex-wrap rounded-circle border bg-img-account" style="width: 150px;height: 150px" *ngIf="token()">
                <button mat-button color="primary" class="m-auto" (click)="logout()">Deconnexion</button>
                <button mat-button color="primary" class="m-auto" routerLink="/account">Mon compte</button>
            </div>
        </div>
    </section>
</header>
<router-outlet></router-outlet>
<footer class="sticky-bottom">
    <section class="bg-light d-flex justify-content-between p-3">
        <nav>
            <ul class="p-0 mb-0">
                <app-menu class="flex-column list-unstyled"></app-menu>
            </ul>
        </nav>
        <div class="c-app__logo-center">
            <img src="../assets/images/logo.png" alt="logo" width="100">
            <p class="mb-0">© Les Trois Têtes, 2019.</p>
        </div>
        <div class="d-flex flex-column justify-content-around">
            <button mat-stroked-button color="primary" routerLink="/contact">Nous contacter ?</button>
            <div class="d-flex">
                <img src="../assets/icons/facebook.svg" alt="" width="32" height="32">
                <img src="../assets/icons/insta.svg" alt="" width="32" height="32">
                <img src="../assets/icons/twitter.svg" alt="" width="32" height="32">
            </div>
        </div>
    </section>
</footer>
