<div class="w-100" *ngIf="user.type == 'user' || user.type == 'teacher' || user.type == 'admin'">
  <div class="d-inline-flex justify-content-around w-100">
    <div>
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <p class="w-100 text-center">Joueur 1</p>
    </div>
    <div>
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <p class="w-100 text-center">Joueur 2</p>
    </div>
  </div>
  <div class="d-inline-flex justify-content-between align-items-center w-100">
    <div>
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <p class="w-100 text-center">Joueur 3</p>
    </div>
    <div class="" style="height: 400px;">
      <div class="d-flex flex-column align-items-center border border-dark rounded-circle bg-dark" style="width: 600px; height: 400px;">
        <div class="d-flex c-player__board" style="height: 85px">
          <img src="../../../../assets/images/cards/1h.png" alt="Dos de carte" class="p-0" style="width: 60px">
          <img src="../../../../assets/images/cards/13h.png" alt="Dos de carte" class="p-0" style="width: 60px">
          <img src="../../../../assets/images/cards/12h.png" alt="Dos de carte" class="p-0" style="width: 60px">
          <img src="../../../../assets/images/cards/11h.png" alt="Dos de carte" class="p-0 ml-2" style="width: 60px">
        </div>
        <h2 class="text-black-50">Les Trois Têtes</h2>
      </div>
    </div>
    <div>
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <p class="w-100 text-center">Joueur 4</p>
    </div>
  </div>
  <div class="d-inline-flex justify-content-around w-100">
    <div>
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <img src="../../../../assets/images/cards/back.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <p class="w-100 text-center">Joueur 5</p>
    </div>
    <div>
      <img src="../../../../assets/images/cards/11c.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <img src="../../../../assets/images/cards/1c.png" alt="Dos de carte" class="p-0" style="width: 60px">
      <p class="w-100 text-center">Vous</p>
    </div>
  </div>
</div>
