<section class="container" xmlns="http://www.w3.org/1999/html">
  <div class="d-flex justify-content-center mb-3">
    <h5 class="mr-2">Envie de partager une idée, un cours ou autre ?</h5>
    <button class="btn-primary" onclick="window.location.href = '/articles/nouveau';">Créer votre article !</button>
  </div>
  <h3 class="mb-4">Les derniers articles</h3>
  <div class="d-inline-flex bg-light rounded mb-4">
    <div class="d-flex flex-column align-items-center border-right w-25 p-2">
      <h5 class="m-auto">Titre de l'article</h5>
      <ul class="d-flex justify-content-around list-unstyled w-100 p-0 m-0">
        <li>tag 1</li>
        <li>tag 2</li>
      </ul>
    </div>
    <p class="p-4 m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur, eum laboriosam laudantium magni quibusdam ut.<br>
      Adipisci animi architecto consequatur cumque exercitationem id iure, minus molestiae numquam, odio quibusdam repudiandae!
    </p>
  </div>
  <div class="d-inline-flex bg-light rounded mb-4">
    <div class="d-flex flex-column align-items-center border-right w-25 p-2">
      <h5 class="m-auto">Titre de l'article</h5>
      <ul class="d-flex justify-content-around list-unstyled w-100 p-0 m-0">
        <li>tag 1</li>
        <li>tag 2</li>
      </ul>
    </div>
    <p class="p-4 m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur, eum laboriosam laudantium magni quibusdam ut.<br>
      Adipisci animi architecto consequatur cumque exercitationem id iure, minus molestiae numquam, odio quibusdam repudiandae!
    </p>
  </div>
  <h3 class="mb-4">Top articles</h3>
  <div class="d-inline-flex bg-light rounded mb-4">
    <div class="d-flex flex-column align-items-center border-right w-25 p-2">
      <h5 class="m-auto">Titre de l'article</h5>
      <ul class="d-flex justify-content-around list-unstyled w-100 p-0 m-0">
        <li>tag 1</li>
        <li>tag 2</li>
      </ul>
    </div>
    <p class="p-4 m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur, eum laboriosam laudantium magni quibusdam ut.<br>
      Adipisci animi architecto consequatur cumque exercitationem id iure, minus molestiae numquam, odio quibusdam repudiandae!
    </p>
  </div>
  <div class="d-inline-flex bg-light rounded mb-4">
    <div class="d-flex flex-column align-items-center border-right w-25 p-2">
      <h5 class="m-auto">Titre de l'article</h5>
      <ul class="d-flex justify-content-around list-unstyled w-100 p-0 m-0">
        <li>tag 1</li>
        <li>tag 2</li>
      </ul>
    </div>
    <p class="p-4 m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur, eum laboriosam laudantium magni quibusdam ut.<br>
      Adipisci animi architecto consequatur cumque exercitationem id iure, minus molestiae numquam, odio quibusdam repudiandae!
    </p>
  </div>
  <h3 class="mb-4">Articles triés</h3>
  <div class="d-flex justify-content-between">
    <div>
      <label class="mr-2" for="categories">Catégories :</label>
      <select name="categories" id="categories" class="bg-light mb-4">
        <option value="" selected="selected">Cash Game</option>
        <option value="">Cash Game</option>
        <option value="">Cash Game</option>
      </select>
    </div>
    <div>
      <label class="mr-2" for="tags">Tags :</label>
      <select name="tags" id="tags" class="bg-light mb-4">
        <option value="" selected="selected">Mises</option>
        <option value="">cotes</option>
      </select>
    </div>
    <div>
      <label class="mr-2" for="autors">Auteurs :</label>
      <select name="authors" id="autors" class="bg-light mb-4">
        <option value="" selected="selected">Toto</option>
        <option value="">Titi</option>
        <option value="">Tata</option>
      </select>
    </div>
  </div>

  <div class="d-inline-flex bg-light rounded mb-4">
    <div class="d-flex flex-column align-items-center border-right w-25 p-2">
      <h5 class="m-auto">Titre de l'article</h5>
      <ul class="d-flex justify-content-around list-unstyled w-100 p-0 m-0">
        <li>tag 1</li>
        <li>tag 2</li>
      </ul>
    </div>
    <p class="p-4 m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur, eum laboriosam laudantium magni quibusdam ut.<br>
      Adipisci animi architecto consequatur cumque exercitationem id iure, minus molestiae numquam, odio quibusdam repudiandae!
    </p>
  </div>
  <div class="d-inline-flex bg-light rounded mb-4">
    <div class="d-flex flex-column align-items-center border-right w-25 p-2">
      <h5 class="m-auto">Titre de l'article</h5>
      <ul class="d-flex justify-content-around list-unstyled w-100 p-0 m-0">
        <li>tag 1</li>
        <li>tag 2</li>
      </ul>
    </div>
    <p class="p-4 m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur, eum laboriosam laudantium magni quibusdam ut.<br>
      Adipisci animi architecto consequatur cumque exercitationem id iure, minus molestiae numquam, odio quibusdam repudiandae!
    </p>
  </div>
</section>
