<section class="container-fluid">
  <h1 class="w-100 text-center mb-5">Mise en situation 1</h1>
  <div class="row mb-4">
    <nav class="col bg-light">
      <h5>Lancer une autre mise en situation :</h5>
      <ul class="list-unstyled">
        <li>Mise en situation 1</li>
        <li>Mise en situation 2</li>
        <li>Mise en situation 3</li>
      </ul>
    </nav>
    <app-game class="col-8"></app-game>
    <div class="col bg-light">
      <h5>Déroulement de la partie :</h5>
      <b>Action préflop :</b>
      <p>Joueur X : raise 3bb</p>
      <p>Vous : call 3bb</p>
      <p>Joueur Z : fold</p>
      <b>Action flop :</b>
      <p>Joueur X : raise 1/2 pot</p>
      <p>Vous : call 1/2 pot</p>
      <b>Action turn :</b>
      <p>Joueur X : raise pot</p>
      <p>Vous : que faire ?</p>
    </div>
  </div>
  <div class="col-8 d-flex justify-content-around mx-auto mb-5">
    <h5>Quel est le choix le plus optimisé ?</h5>
    <button mat-flat-button color="primary">Se coucher</button>
    <button mat-flat-button color="primary">Suivre</button>
    <button mat-flat-button color="primary">Relancer</button>
  </div>
  <div class="col-8 mx-auto mb-4">
    <h4>Solution :</h4>
    <p class="bg-light p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus eius eum facere harum id libero maxime numquam optio praesentium quam quasi recusandae, rem repellendus similique. Eaque error iusto pariatur!</p>
  </div>
  <div class="col-8 mx-auto">
    <h4>Commentaires :</h4>
    <div class="bg-light w-100 mb-2 p-2">
      <p>Pseudo - le : 01/01/2019 à 00:01</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus eius eum facere harum id libero maxime numquam optio praesentium quam quasi recusandae, rem repellendus similique. Eaque error iusto pariatur!</p>
    </div>
    <div class="bg-light w-100 mb-2 p-2">
      <p>Pseudo - le : 01/01/2019 à 00:01</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus eius eum facere harum id libero maxime numquam optio praesentium quam quasi recusandae, rem repellendus similique. Eaque error iusto pariatur!</p>
    </div>
    <div class="bg-light w-100 mb-2 p-2">
      <p>Pseudo - le : 01/01/2019 à 00:01</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus eius eum facere harum id libero maxime numquam optio praesentium quam quasi recusandae, rem repellendus similique. Eaque error iusto pariatur!</p>
    </div>
    <div class="bg-light w-100 mb-2 p-2">
      <p>Pseudo - le : 01/01/2019 à 00:01</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus eius eum facere harum id libero maxime numquam optio praesentium quam quasi recusandae, rem repellendus similique. Eaque error iusto pariatur!</p>
    </div>
  </div>
</section>
