<section class="container-fluid row">
  <nav class="col bg-light">
    <h5>Lancer un autre mise en situation :</h5>
    <ul class="list-unstyled">
      <li>Mise en situation 1</li>
      <li>Mise en situation 2</li>
      <li>Mise en situation 3</li>
    </ul>
  </nav>
  <div class="col-8">
    <h1>Mise en situation 1</h1>
  </div>
  <div class="col bg-light">
    <h5>Déroulement de la partie :</h5>
    <b>Action préflop :</b>
    <p>Joueur X : raise 3bb</p>
    <p>Joueur Y : call 3bb</p>
    <p>Joueur Z : fold</p>
    <b>Action flop :</b>
    <p>Joueur X : raise 1/2 pot</p>
    <p>Joueur Y : call 1/2 pot</p>
    <b>Action turn :</b>
    <p>Joueur X : raise pot</p>
    <p>Joueur Y : fold</p>
  </div>
</section>
