<section class="container" xmlns="http://www.w3.org/1999/html">
  <form action="" class="d-flex justify-content-around align-items-center mb-3">
    <label for="sort">Trier par :</label>
    <div class="d-flex align-items-center">
      <input id="sort" class="mr-2" type="checkbox">
      <p class="m-auto">Date de publication</p>
    </div>
    <div class="d-flex align-items-center">
      <input id="sort" class="mr-2" type="checkbox">
      <p class="m-auto">Difficulté</p>
    </div>
    <div class="d-flex align-items-center">
      <input id="sort" class="mr-2" type="checkbox">
      <p class="m-auto">Tour</p>
    </div>
  </form>
  <div class="row mb-4 w-100">
    <div class="d-flex flex-column bg-light rounded p-3 col-10">
      <h3 class="text-secondary">Mise en situation 1</h3>
      <div class="d-flex justify-content-between">
        <p>Auteur : Toto</p>
        <p>Publié le : 01/01/2019</p>
        <p>Difficulté : Débutant/Amateur</p>
      </div>
      <p>Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nemo quia sapiente vel.</p>
    </div>
    <button routerLink="../../simulation/mise-en-situation-1" class="ml-2 btn-primary m-auto col-1">Jouer</button>
  </div>
  <div class="row mb-4 w-100">
    <div class="d-flex flex-column bg-light rounded p-3 col-10">
      <h3 class="text-secondary">Mise en situation 2</h3>
      <div class="d-flex justify-content-between">
        <p>Auteur : Toto</p>
        <p>Publié le : 01/01/2019</p>
        <p>Difficulté : Expert</p>
      </div>
      <p>Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nemo quia sapiente vel.</p>
    </div>
    <button class="ml-2 btn-primary m-auto col-1">Jouer</button>
  </div>
  <div class="row mb-4 w-100">
    <div class="d-flex flex-column bg-light rounded p-3 col-10">
      <h3 class="text-secondary">Mise en situation 3</h3>
      <div class="d-flex justify-content-between">
        <p>Auteur : Toto</p>
        <p>Publié le : 01/01/2019</p>
        <p>Difficulté : Débutant</p>
      </div>
      <p>Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nemo quia sapiente vel.</p>
    </div>
    <button class="ml-2 btn-primary m-auto col-1">Jouer</button>
  </div>
</section>
